@import './variables';
@import './components/player-box';

body {
  background-color: $main-bg-color;
  padding:20px;
}
#main-cal {
  width: 650px;
  display:inline-block;
  position:absolute;
  margin-left: 40px;
}
