<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="../../public/stylesheets/profile.css">


<head>
  <title>Coach</title>
</head>

<body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Coach-App Home</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="../navbar-static-top/">Resources</a></li>
              <li><a href="../navbar-fixed-top/">Logout</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notifications<span class="badge">4</span></a>
                  <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="calendar">
        <h1>Calendar</h1>
<!--         <img src="../../public/images/resize2.jpg"> -->
      </div>
      <div class="class-history">
        <table id="grades">
          <tr>
           <th>Class</th>
           <th>Assignment</th>
           <th>Grade</th>
          </tr>
          <tr>
              <td>Eng 303</td>
              <td>Midterm</td> 
              <td>71%</td>
          </tr>
          <tr>
            <td>Bus 300</td>
            <td>Midterm</td> 
            <td>85%</td>
          </tr>
          <tr>
            <td>Bus 360</td>
            <td>Paper</td> 
            <td>65%</td>
          </tr>
          <tr>
            <td>Bus 305</td>
            <td>Paper</td> 
            <td>67%</td>
          </tr>
        </table>
      </div>      
      <div class="player-stats" overflow-x:auto>
        <table id="stats">
          <tr>
           <th>Tasks Outstanding</th>
           <th>Date Due</th>
          </tr>
          <tr>
              <td>Assignment grade</td>
              <td>June 4, 2015</td> 
          </tr>
          <tr>
            <td>Team workout</td>
            <td>June 8, 2015</td> 
          </tr>
          <tr>
            <td>Team workout</td>
            <td>June 12, 2015</td> 
          </tr>
          <tr>
            <td>Individual workout</td>
            <td>June 12, 2015</td> 
          </tr>          
          <tr>
            <td>Individual workout</td>
            <td>June 28, 2015</td> 
          </tr>
        </table>
      </div>

    </div> <!-- /container -->






</body>
</html>