.playerBox {
  width:220px;
  max-height:600px;
  background-color: $box-background-one;
  display:inline-block;
  position:relative;
  margin-left: 20px;
  box-shadow: $shadow-3;
  vertical-align:top;
}

.playerBox ul {
  list-style-type: none;
  max-height:inherit;
  margin:0;
  overflow: scroll;
  padding:0;
  position:relative;
}
.playerBox ul li {
  background-color:#bbf1bb;
  margin: 3px;
  padding:5px;
  font-weight:200;
  font-size:18px;
}

.playerBox ul li:hover {
  background-color:grey;
}
