
@out-of-range-color: lighten(#333, 50%);


@calendar-border: grey;
@cell-border: grey;
@content-bg-color: honeydew;
@calendar-bg-color: honeydew;
@good-green:#4aaf69;

@basic-line: 1px solid @cell-border;
@vertical-line: @basic-line;
@hour-line: @basic-line;
@half-hour-line: 0px;

@border-color: #CCC;

@segment-width: percentage(1 / 7);

@selection-color: white;
@selection-bg-color: #000;


@event-bg: rgba(50, 200, 50, 0.15);
@event-border: 0;
@event-color: #fff;
@event-border-radius: 0px;
@event-padding: 2px 5px;
@event-zindex: 4;
@event-overlap-shadow: 0;

@btn-color: #373a3c;
@btn-bg: #a3efa3;
@btn-color-inactive: honeydew;
@btn-border: white;

@rbc-css-prefix: rbc-i;

@shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
@shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
@shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
@shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
@shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
